/* =============
    Base
============= */
ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.container-grid{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". grid-content .";
    min-height: 10vh;

    .grid-content{
        grid-area: grid-content;
        text-align: center;
    }
}

