/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-areas: ". grid-content .";
    background-color: $grey;

    .grid-content {

        @include md {
            display: grid;
            grid-template-columns: 70% auto;
            grid-template-areas: 
                "text-selection picture";
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
                "picture text-selection";
        }
    
        #text-selection {
            grid-area: text-selection;
            h1 {
                text-align: center;
    
                @include md {
                    text-align: left;
                }
            }

            p {
                text-align: justify;
                margin: 10px;
            }

            @include md {
                text-align: left;
                margin: 0px;
                padding-left: 30px;
                padding-right: 30px;

            }
    
            @include lg {
                margin: 100px;
                padding-left: 0px;
            }

        }

        aside {
            grid-area: picture;
            background-image: url('../img/aside.jpg');
            background-size: cover;
            background-position: center;
            height: 320px;
    
            @include md {
                height: 246px;
            }
    
            @include lg {
                height: 600px;
                width: 600px;
            }
    
            @include xl {
                height: 600px;
            }
        }

    }
}