/* =============
    Section 1
============= */
#section-1{
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-areas: ". grid-content .";
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;

    @include md {
        height: 694px;
        grid-template-columns: auto 760px auto;
    }

    @include lg {
        height: 799px;
    }

    @include xl {
        height: 959px;
    }

    .grid-content {
        grid-area: grid-content;

        h3 {
            color: $navy;
            padding-top: 40px;
    
            @include md {
                padding-top: 90px;
            }
    
            @include lg {
            }
        }
    
        h4 {
            color: $turquoise;
        }
    
        #start-button {
            display: grid;
            padding-top: 100px;
            
            #oval {
                background-image: url("../img/circle.svg");
                background-position: center;
                background-size: cover;
                margin: 0 auto;
                height: 100px;
                width: 100px;

                @include lg {
                    height: 150px;
                    width: 150px;
                }

                @include xl {
                    height: 200px;
                    width: 200px;
                }

                p {
                    padding-top: 25px;
                    color: $white;

                    @include md {
                        padding-top: 25px;
                    }

                    @include lg {
                        padding-top: 50px;
                        font-size: rem-calc(30);
                    }
                    
                    // @include xl {
                    //     padding-top: 70px;
                    // }
                }

            }
        }     
    }
}
