/* =============
    Section 1
============= */
#section-1{

    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;

    padding: 160px 0;
    text-align: center;
    
    h3 {
        color: $navy;
        font-size: rem-calc(32); 

        @include md {
            font-size: 50px;
        }

        @include lg {
            font-size: 60px;
        }

    }

    p {
        color: $turquoise;
        font-size: 20px;

        @include md {
            font-size: 25px;
        }

        @include lg {
            font-size: 32px;
        }
    }

    div {
        
        background-image: url('../img/oval.png');
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        
        @include md {
            background-size: 120px
        }

        @include lg {
            background-size: 170px;
        }

        p {
            padding-top: 290px;
            font-size: 20px;
            color: $white;

            @include lg {
                font-size: 40px;
                padding-top: 280px;
            }
        }
    }
    
    @include md {
        height: 694px;
    }
    
    @include lg {
       height: 800px; 
    }

    @include xl {
        height: 960px;
    }
}
