/* =============
    Footer
============= */
#footer {
    background-color: $black;
    height: 155px;
    padding: 50px;

    background-image: url( '../img/social.png');
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;

    p::first-letter {
        color: $orange;
    }
    p{
        color: $white;
        text-align: center;
        padding-top: 100px;
    }

    @include md {
        height: 155px;
    }

    @include lg {
        background-position: left;
        p {
            text-align: right;
            
        }
    }
}